<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>
  <title>Прогноз погоды</title>
  <style>
    body {
      font-family: sans-serif;
      width: 800px;
      margin: auto;
    }

    header {
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <header>
    <script>
      function checkUserKeydown(event) {
        return event instanceof KeyboardEvent
      }
    </script>
    <div>
      <input id="search" name="city" list="suggestions" autocomplete="off" placeholder="Введите город..."></input>
      <datalist id="suggestions"></datalist>
      <div hx-get="/suggestions" hx-trigger="keyup[checkUserKeydown.call(this, event)] changed from:#search delay:25ms"
        hx-target="#suggestions" hx-include="#search">
      </div>
      <div hx-get="/forecast" hx-trigger="keyup[keyCode==13] from:#search" hx-include="#search" hx-target="#main">
      </div>
    </div>
  </header>
  <main id="main"></main>
</body>

</html>