<h1>Погода в городе {{city}}</h1>

<h2>Текущая</h2>

<p>Температура: {{forecast.current.temperature_2m}}{{forecast.current_units.temperature_2m}}</p>
<p>Ощущается как: {{forecast.current.apparent_temperature}}{{forecast.current_units.apparent_temperature}}</p>
<p>Скорость ветра: {{forecast.current.wind_speed_10m}}{{forecast.current_units.wind_speed_10m}}</p>
<p>Порывы ветра: {{forecast.current.wind_gusts_10m}}{{forecast.current_units.wind_gusts_10m}}</p>
<p>Влажность: {{forecast.current.relative_humidity_2m}}{{forecast.current_units.relative_humidity_2m}}</p>

<h2>На ближайшее время</h2>

{% for (time, temperature) in zip(forecast.hourly.time, forecast.hourly.temperature_2m) %}
<p>В {{time.strftime("%H:%M")}}: температура {{temperature}}{{forecast.hourly_units.temperature_2m}}</p>
{% endfor %}